@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

* {
   font-family: 'Saira', sans-serif;
}

@theme {
   --color-dark-100: #1a1a1a;
   --color-dark-200: #1f1f1f;
   --color-dark-300: #2d2d2d;
   --color-dark-400: #3d3d3d;
   --color-purple: #8B5CF6;
   --color-pink: #EC4899;
   --color-blue: #3B82F6;
}
.typwriter {
   overflow: hidden;
   border-right: .15em solid #8B5CF6;
   white-space: nowrap;
   width: 0;
   animation: typing 3s steps(20, end) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
   0%   { 
      width: 0 
   }
   40%  { 
      width: 15ch
   }   
   60%  {
      width: 15ch 
   }  
   100% { 
      width: 0 
   }    
}
@keyframes blink-caret {
   from, to { 
      border-color: transparent 
   }
   50% { 
      border-color: #8B5CF6; 
   }
}